.btn {
	padding: rem(8px) rem(16px);
   font-size: rem(13px);
	background: $red;
	color: $white;
	border-radius: rem(5px);
	text-transform: uppercase;
	display: inline-flex;
	margin-left: rem(18px);

   &:hover {
      background: $red-hover;
   }
}