.hamburger__menu {
	background: #2E3133;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.hamburger__menu-visible {
	display: flex;
}

.hamburger__menu-logo {
	position: absolute;
	top: rem(11px);
	left: rem(24px);
}

.hamburger__menu .nav__hamburger {
	display: block;
	text-align: center;

	@include phones {
		padding-bottom: rem(145px);
	}	
}

.nav__hamburger .nav__list {
	display: block;
	font-size: rem(22px);
}

.nav__hamburger .nav__item {
	display: block;

	&:after {
		display: block;
		margin: rem(20px) auto;
		width: rem(6px);
		height: rem(6px);
	}
}

.hamburger__menu-close {
	position: absolute;
	top: rem(10px);
	right: rem(10px);
	color: red;
	text-decoration: none;
}