.section-title {
	font-size: rem(72px);
	@include gagalin;

	&_color_yellow {
		color: $yellow;
	}

	&_color_black {
		color: $black;
	}

	&_color_white {
		color: $white;
		line-height: rem(69px);

		@include phones {
			width: 90%;
			margin: auto;
			line-height: 60px;
		}
	}

	&_order {
		color: $yellow;
		line-height: rem(62px);
		text-align: center;
	}

	@include phones {
		font-size: rem(50px);
	}
}