.main-display {
   background: url('../img/salad-bg.jpg') center center no-repeat;
   background-size: cover;
   padding-top: 10px;
   height: 100vh;
   min-height: 650px;

   .container {
      position: relative;
   }
}

.display-navigation {
   position: fixed;
   right: 65px;
   top: 90px;
   z-index: 10000;
}

.display-navigation__list {
}

.display-navigation__item {
   margin-bottom: 5px;
}

.display-navigation__link {
   position: relative;
   border: 1px solid transparent;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   display: block;
   padding: 2px;

   &.active {
      border: 1px solid $white;
   }

   &:hover {
      border: 1px solid $white;
   }
}

.display-navigation__dot {
   position: absolute;
   width: 6px;
   height: 6px;
   background: $white;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.logo {
   margin-left: 7px;
}

.logo, .menu, .menu__list, .menu__item, .order-btn {
   display: inline-block;
   vertical-align: middle;
}

.menu {
   margin-left: 225px;
}

.menu__item {
   position: relative;
   margin-right: 32px;

   &:after {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      background: $white;
      border-radius: 50%;
      position: absolute;
      left: 100%;
      margin-top: -14px;
      margin-left: 16px;
   }
}

.menu__item:last-child {
   margin-right: 0;
   &:after {
      display: none;
   }
}

.menu__link, .order-btn {
   @include ubuntu;
   color: $white;
   font-size: 13px;
   transition: .3s;
}

.menu__link {

   &:hover {
      color: $red;
   }
}

.order-btn {
   display: inline-block;
   background: $red;
   padding: 8px 15px;
   border-radius: 5px;
   margin-left: 13px;

   &:hover {
      background: $red-hover;
   }
}

.burger {
   position: absolute;
   top: 50%;
   transform: translateY(-60%);
}

.burger__img {
   margin-left: 24px;
   vertical-align: middle;
}

.burger__name {
   display: inline-block;
   vertical-align: middle;
   width: 470px;
   margin-left: 9px;
   margin-top: 54px;
}

.burger__title {
   @include gagalin;
   color: $yellow;
   font-size: 72px;
}

.burger__desc {
   @include lifehack;
   color: $white;
   font-size: 62px;
   line-height: 59px;
   margin-top: 10px;
}

.arrow-scroll {
   position: absolute;
   left: 49%;
   bottom: 5%;
}