.opinions {
   background: #000;
}

.opinions__list {
   display: flex;
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
}

.opinions__item {
	width: 25%;
	height: 50%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
	filter: grayscale(100%);
	color: $white;
	position: relative;
   display: flex;
   align-items: center;
   justify-content: center;

	@include tablets {
		width: 50%;
		height: 25%;
	}

	&:after {
		 content: "";
	    opacity: 0;
	    background: $black;
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    z-index: -1111;
	    transition: .3s;
	}

	&:hover {
		&:after {
			opacity: .7;
		}

		.opinion__content {
	    	opacity: 1;
	    	transform: scale(1);			
		}
	}
}

.opinion__content {
	opacity: 0;
	transform: scale(.7);
	transition: .3s;
	width: 85%;
	// height: 72%;

	@include tablets {
		text-align: center;
		height: 77%;
		width: 75%;
	}

	@include phones {
		// height: 62%;
		height: auto;
	}
}

.opinion__content-main {
	// height: 54%;
	// overflow: hidden;
}

.opinion__name {
	@include gagalin;
	font-size: rem(14px);

	@include phones {
		font-size: rem(24px);
		line-height: rem(31px);
	}
}

.opinion__desc {
	@include ubuntu;
	height: 144px;
	overflow: hidden;
	font-size: rem(14px);
	margin-top: rem(20px);
	line-height: rem(24px);

	p {
		height: inherit;
	}

	@include tablets {
		// height: 124px; // без one page scroll
		height: 113px;
		font-size: rem(13px);
		margin-top: rem(9px);
	}

	@include phones {
		display: none;
	}
}

.opinion__btn {
	color: $white;
	display: inline-flex;
	font-size: rem(13px);
	background: $black;
	padding: rem(8px) rem(15px);
	margin-top: rem(12px);
	border-radius: rem(5px);
	@include ubuntu;
	transition: .3s;

	@include tablets {
		margin-top: rem(22px);
	}

	&:hover {
		background: $black-hover;
	}
}

.opinion__btn_main-text {

	@include phones {
		display: none;
	}
}

.opinion__btn_second-text {
	display: none;

	@include phones {
		display: block;
	}
}