.opinions {
	width: 100%;
}

.opinions__list {
	@extend %clearfix;
}

.opinions__item {
	float: left;
	width: 25%;
	height: 29vw;
	filter: grayscale(100%);
	padding: 45px 20px;
	color: $white;
	position: relative;

	&:after {
		 content: "";
	    opacity: 0;
	    background: $black;
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    z-index: -1111;
	    transition: .3s;
	}

	&:hover {
		&:after {
			opacity: .7;
		}

		.opinion__content {
	    	opacity: 1;
			transition: .3s;
		}
	}
}

.opinion__content {
	opacity: 0;
}

.opinion__name {
	display: inline-block;
	@include gagalin;
	font-size: 14px;
}

.opinion__desc {
	display: inline-block;
	@include ubuntu;
	font-size: 14px;
	margin-top: 21px;
	line-height: 24px;
}

.opinion__btn {
	font-size: 14px;
	color: $white;
	display: inline-block;
	font-size: 13px;
	background: $black;
	padding: 8px 15px;
	margin-top: 12px;
	border-radius: 5px;
	@include ubuntu;
	transition: .3s;

	&:hover {
		background: $black-hover;
	}
}

.opinion__img_1 {
	background: url('/img/opinions/photo1.jpg') center center no-repeat;
	background-size: cover;
}

.opinion__img_2 {
	background: url('/img/opinions/photo2.jpg') center center no-repeat;
	background-size: cover;
}

.opinion__img_3 {
	background: url('/img/opinions/photo3.jpg') center center no-repeat;
	background-size: cover;
}

.opinion__img_4 {
	background: url('/img/opinions/photo4.jpg') center center no-repeat;
	background-size: cover;
}

.opinion__img_5 {
	background: url('/img/opinions/photo5.jpg') center center no-repeat;
	background-size: cover;
}

.opinion__img_6 {
	background: url('/img/opinions/photo6.jpg') center center no-repeat;
	background-size: cover;
}

.opinion__img_7 {
	background: url('/img/opinions/photo7.jpg') center center no-repeat;
	background-size: cover;
}

.opinion__img_8 {
	background: url('/img/opinions/photo8.jpg') center center no-repeat;
	background-size: cover;
}