.team {
  background: url('../img/team/team-bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.team__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 49%;
  background: rgba($black, .93);
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    width: 100%;
  }
}

.team__block {
  width: rem(377px);
  // height: rem(520px);

  @include tablets {
    text-align: center;
    // height: 80%;
  }

  @include phones {
    // height: 87%;
  }
}

.team__list {
  margin-top: rem(58px);

  @include tablets {
    margin-top: rem(99px);
  }

  @include phones {
    margin-top: rem(77px);
  }
}

.team__item {
  margin-bottom: rem(28px);

  @include tablets {
    margin-bottom: rem(24px);
  }

  &.active {
  
    .team__link {
      color: $yellow;

      &:before {
        transform: rotate(180deg);
      }
    }
  }
}

.team__item-desc {
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.team__link {
  font-size: rem(14px);
  @include gagalin;
  color: $white;
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: .3s;
  margin-left: rem(17px);

  @include tablets {
    font-size: rem(24px);
    margin-left: rem(35px);
  }

  &:hover {
    color: $yellow;
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 45%;
    right: 109%;
    border: rem(5px) solid transparent;
    border-top-color: $yellow;
    border-bottom: 0;

    @include tablets {
      right: 105%;
    }
  }
}

.team-content {
  display: flex;
  padding-top: rem(14px);
  padding-bottom: rem(8px);
  margin-left: rem(15px);

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(10px);
    padding-bottom: rem(2px);
  }
}

.team-content__img {
  width: rem(100px);
  height: rem(100px);
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.team-content__img-pic {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.team-content__text {
  width: rem(230px);
  padding-left: 6%;
  color: $white;

  @include tablets {
    width: 100%;
    padding: 0;
  }
}

.team-content__title {
  @include ubuntu(bold);
  font-size: rem(14px);  

  @include tablets {
    margin-top: rem(20px);
  }
}

.team-content__desc {
  @include ubuntu(light);
  font-size: rem(14px);
  margin-top: rem(11px);
  line-height: rem(24px);
}