.we-the-best {
	margin-top: rem(-1px);
	background: url('../img/we-the-best/best-bg.jpg') center center no-repeat;
	background-size: cover;
	justify-content: center;
	// padding-bottom: rem(115px);

	// @include tablets {
	// 	padding-bottom: rem(265px);
	// }

	// @include phones {
	// 	padding-bottom: rem(145px);
	// }

	.container {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.bullets__list {
	margin-top: rem(60px);
	display: flex;

		@include tablets {
			margin-top: rem(150px);
		}

		@include phones {
			flex-direction: column;
			margin-top: rem(30px);
		}
}

.bullets__item {
	margin: 0 rem(10px);
	flex: 1;

	@include phones {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: left;
		margin: rem(5px) 0;
		width: 100%;
	}
}

.bullets__img {
	height: rem(90px);

	@include phones {
		width: 30%;
		display: flex;
		justify-content: center;
	}
}

.bullets__content {

	@include phones {
		width: 69%;
		margin-left: 1%;
	}
}

.bullets__title {
	@include lifehack;
   color: $black;
   font-size: rem(23px);
   margin-top: rem(30px);
	margin-bottom: rem(15px);
}

.bullets__desc {
	font-size: rem(14px);
	color: $grey;
	display: inline-block;
   @include ubuntu(light);
   line-height: rem(24px);
}

.natural__title {
	line-height: rem(30px);
	margin-bottom: rem(7px);
}