.we-the-best {
	background: url('../img/we-the-best/best-bg.jpg') center center no-repeat;
	background-size: cover;
	margin-top: -1px;
	height: 100vh;
	min-height: 650px;

   .container {
   	position: relative;
   	text-align: center;
   }
   
}

.we-the-best__title {
   @include gagalin;
   color: $black;
   font-size: 72px;	
   display: inline-block;
   margin-top: 54px;
}

.bullets__list {
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
}

.bullets__item {
	width: 317px;
	display: inline-block;
	vertical-align: top;
}

.bullets__img {
	height: 105px;
}

.bullets__title {
	@include lifehack;
   color: $black;
   font-size: 23px;
   margin-top: 10px;
	margin-bottom: 15px;
}

.bullets__desc {
	font-size: 14px;
	color: $grey;
	width: 300px;
	display: inline-block;
   @include ubuntu;
   margin-left: 5px;
   line-height: 24px;
}

.natural__title {
	width: 300px;
	display: inline-block;
	line-height: 30px;
	margin-bottom: 7px;
}