* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	background: $white;
}

.wrapper {
	min-width: 1100px;
	overflow: hidden;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 960px;
	min-height: 100%;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
}

section {
	width: 100%;
}